/* public/css/dise.css */

/* Estilos para el encabezado */
header {
    background-color: #5aacf8e5;
    text-align: center;
    
}

header h1 {
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 2em;
}



header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

header nav ul li a:hover {
    background-color: #e7e7e7de;
}

/* Estilos para el pie de página 
